In [16]:
import numpy as np
import pandas as pd
from itertools import product
import os
from Bio import SeqIO

In [24]:
nucleotides = ['A', 'C', 'G', 'T']
combinations_of_3 = list(product(nucleotides, repeat=3))

kolone = []
kolone.append("Tip")
kolone.append("ID")
kolone += [''.join(combination) for combination in combinations_of_3]
redovi = []

In [26]:
redovi

[]

In [31]:
tabela = pd.DataFrame(columns= kolone)
tabela

Empty DataFrame
Columns: [Tip, ID, AAA, AAC, AAG, AAT, ACA, ACC, ACG, ACT, AGA, AGC, AGG, AGT, ATA, ATC, ATG, ATT, CAA, CAC, CAG, CAT, CCA, CCC, CCG, CCT, CGA, CGC, CGG, CGT, CTA, CTC, CTG, CTT, GAA, GAC, GAG, GAT, GCA, GCC, GCG, GCT, GGA, GGC, GGG, GGT, GTA, GTC, GTG, GTT, TAA, TAC, TAG, TAT, TCA, TCC, TCG, TCT, TGA, TGC, TGG, TGT, TTA, TTC, TTG, TTT]
Index: []

[0 rows x 66 columns]