In [2]:
import pandas as pd

# Velicina kompletnih sekvenci

In [3]:
konacna_tabela = pd.read_csv("konacna_tabela.csv")
def fasta_sequence_lengths(fasta_file):
    with open(fasta_file, 'r') as file:
        sequence_id = None
        sequence = ''
        for line in file:
            line = line.strip()
            if line.startswith('>'):
                if sequence_id:
                    print(f"Sequence {sequence_id} length: {len(sequence)}")
                sequence_id = line[1:]
                sequence = ''
            else:
                sequence += line
        if sequence_id:
            print(f"Sequence {sequence_id} length: {len(sequence)}")
    return len(sequence)

for index, row in konacna_tabela.iterrows():
    if row["Tip"] == "K":
        size = fasta_sequence_lengths(f'{row["ID"]}/{row["ID"]}.fasta')
        konacna_tabela.at[index,"Pocetak"] = 0
        konacna_tabela.at[index,"Kraj"] = size


konacna_tabela

Sequence NC_017626.1 Escherichia coli 042, complete sequence length: 5241977
Sequence NC_017627.1 Escherichia coli 042 plasmid pAA, complete sequence length: 113346
Sequence NC_013364.1 Escherichia coli O111:H- str. 11128, complete sequence length: 5371077
Sequence NC_013365.1 Escherichia coli O111:H- str. 11128 plasmid pO111_1, complete sequence length: 204604
Sequence NC_013366.1 Escherichia coli O111:H- str. 11128 plasmid pO111_3, complete sequence length: 77690
Sequence NC_013361.1 Escherichia coli O26:H11 str. 11368, complete sequence length: 5697240
Sequence NC_013369.1 Escherichia coli O26:H11 str. 11368 plasmid pO26_1, complete sequence length: 85167
Sequence NC_013353.1 Escherichia coli O103:H2 str. 12009, complete sequence length: 5449314
Sequence NC_013354.1 Escherichia coli O103:H2 str. 12009 plasmid pO103, complete sequence length: 75546
Sequence NC_018650.1 Escherichia coli O104:H4 str. 2009EL-2050, complete sequence length: 5253138
Sequence NC_018654.1 Escherichia coli O104:H4 str. 2009EL-2050 plasmid pAA-09EL50, complete sequence length: 74213
Sequence NC_018661.1 Escherichia coli O104:H4 str. 2009EL-2071, complete sequence length: 5312586
Sequence NC_018662.1 Escherichia coli O104:H4 str. 2009EL-2071 plasmid pAA-09EL71, complete sequence length: 75573
Sequence NC_018658.1 Escherichia coli O104:H4 str. 2011C-3493, complete sequence length: 5273097
Sequence NC_018659.1 Escherichia coli O104:H4 str. 2011C-3493 plasmid pESBL-EA11, complete sequence length: 88544
Sequence NC_018666.1 Escherichia coli O104:H4 str. 2011C-3493 plasmid pAA-EA11, complete sequence length: 74217
Sequence NC_008253.1 Escherichia coli 536, complete sequence length: 4938920
Sequence NC_011748.1 Escherichia coli 55989, complete sequence length: 5154862
Sequence NC_017631.1 Escherichia coli ABU 83972, complete sequence length: 5131397
Sequence NC_008563.1 Escherichia coli APEC O1, complete sequence length: 5082025
Sequence NC_009837.1 Escherichia coli APEC O1 plasmid pAPEC-O1-ColBM, complete sequence length: 174241
Sequence NC_009838.1 Escherichia coli APEC O1 plasmid pAPEC-O1-R, complete sequence length: 241387
Sequence NC_020163.1 Escherichia coli APEC O78, complete sequence length: 4798435
Sequence NC_010468.1 Escherichia coli ATCC 8739, complete sequence length: 4746218
Sequence NC_012892.2 Escherichia coli BL21(DE3), complete sequence length: 4558947
Sequence NC_012971.2 Escherichia coli BL21(DE3), complete sequence length: 4558953
Sequence NC_013941.1 Escherichia coli O55:H7 str. CB9615, complete sequence length: 5386352
Sequence NC_017646.1 Escherichia coli O7:K1 str. CE10, complete sequence length: 5313531
Sequence NC_004431.1 Escherichia coli CFT073, complete sequence length: 5231428
Sequence NC_017625.1 Escherichia coli DH1, complete sequence length: 4630707
Sequence NC_017638.1 Escherichia coli DH1, complete sequence length: 4621430
Sequence NC_011601.1 Escherichia coli O127:H6 str. E2348/69, complete sequence length: 4965553
Sequence NC_009786.1 Escherichia coli O139:H28 str. E24377A plasmid pETEC_80, complete sequence length: 79237
Sequence NC_009788.1 Escherichia coli O139:H28 str. E24377A plasmid pETEC_73, complete sequence length: 70609
Sequence NC_009790.1 Escherichia coli O139:H28 str. E24377A plasmid pETEC_74, complete sequence length: 74224
Sequence NC_009801.1 Escherichia coli O139:H28 str. E24377A, complete sequence length: 4979619
Sequence NC_011353.1 Escherichia coli O157:H7 str. EC4115, complete sequence length: 5572075
Sequence NC_011745.1 Escherichia coli ED1a, complete sequence length: 5209548
Sequence NC_002655.2 Escherichia coli O157:H7 str. EDL933, complete sequence length: 5528445
Sequence NC_007414.1 Escherichia coli O157:H7 str. EDL933 plasmid pO157, complete sequence length: 92077
Sequence NC_017633.1 Escherichia coli ETEC H10407, complete sequence length: 5153435
Sequence NC_012947.1 Escherichia coli 'BL21-Gold(DE3)pLysS AG', complete sequence length: 4570938
Sequence NC_009800.1 Escherichia coli HS, complete sequence length: 4643538
Sequence NC_011741.1 Escherichia coli IAI1, complete sequence length: 4700560
Sequence NC_011750.1 Escherichia coli IAI39, complete sequence length: 5132068
Sequence NC_017628.1 Escherichia coli IHE3034, complete sequence length: 5108383
Sequence NC_007779.1 Escherichia coli str. K-12 substr. W3110, complete sequence length: 4646332
Sequence NC_010473.1 Escherichia coli str. K-12 substr. DH10B, complete sequence length: 4686137
Sequence NC_012759.1 Escherichia coli BW2952, complete sequence length: 4578159
Sequence NC_020518.1 Escherichia coli str. K-12 substr. MDS42, complete genome length: 3976195
Sequence NC_000913.3 Escherichia coli str. K-12 substr. MG1655, complete genome length: 4641652
Sequence NC_016902.1 Escherichia coli KO11FL, complete sequence length: 4920168
Sequence NC_016904.1 Escherichia coli KO11FL plasmid pEKO1101, complete sequence length: 103795
Sequence NC_017660.1 Escherichia coli KO11FL, complete sequence length: 5021812
Sequence NC_011993.1 Escherichia coli LF82, complete sequence length: 4773108
Sequence NC_022364.1 Escherichia coli LY180, complete sequence length: 4835601
Sequence NC_017644.1 Escherichia coli NA114, complete genome length: 4971461
Sequence NC_017634.1 Escherichia coli O83:H1 str. NRG 857C, complete sequence length: 4747819
Sequence NC_017659.1 Escherichia coli O83:H1 str. NRG 857C plasmid pO83_CORR, complete sequence length: 147060
Sequence NC_017663.1 Escherichia coli P12b, complete genome length: 4935294
Sequence NC_022370.1 Escherichia coli PMV-1, complete sequence length: 4984940
Sequence NC_012967.1 Escherichia coli B str. REL606, complete sequence length: 4629812
Sequence NC_017656.1 Escherichia coli O55:H7 str. RM12579, complete sequence length: 5263980
Sequence NC_017657.1 Escherichia coli O55:H7 str. RM12579 plasmid p12579_2, complete sequence length: 66078
Sequence NC_011742.1 Escherichia coli S88, complete sequence length: 5032268
Sequence NC_011747.1 Escherichia coli S88 plasmid pECOS88, complete sequence length: 133853
Sequence NC_011415.1 Escherichia coli SE11, complete sequence length: 4887515
Sequence NC_011419.1 Escherichia coli SE11 plasmid pSE11-1, complete sequence length: 100021
Sequence NC_013654.1 Escherichia coli SE15, complete sequence length: 4717338
Sequence NC_013655.1 Escherichia coli SE15 plasmid pECSF1, complete sequence length: 122345
Sequence NC_010488.1 Escherichia coli SMS-3-5 plasmid pSMS35_130, complete sequence length: 130440
Sequence NC_010498.1 Escherichia coli SMS-3-5, complete sequence length: 5068389
Sequence NC_002128.1 Escherichia coli O157:H7 str. Sakai plasmid pO157, complete sequence length: 92721
Sequence NC_002695.2 Escherichia coli O157:H7 str. Sakai DNA, complete genome length: 5498578
Sequence NC_013008.1 Escherichia coli O157:H7 str. TW14359, complete sequence length: 5528136
Sequence NC_013010.1 Escherichia coli O157:H7 str. TW14359 plasmid pO157, complete sequence length: 94601
Sequence NC_017630.1 Escherichia coli UM146 plasmid pUM146, complete sequence length: 114550
Sequence NC_017632.1 Escherichia coli UM146, complete sequence length: 4993013
Sequence NC_011739.1 Escherichia coli UMN026 plasmid p2ESCUM, complete sequence length: 33809
Sequence NC_011749.1 Escherichia coli UMN026 plasmid p1ESCUM, complete sequence length: 122301
Sequence NC_011751.1 Escherichia coli UMN026, complete sequence length: 5202090
Sequence NC_017639.1 Escherichia coli UMNK88 plasmid pUMNK88_K88, complete sequence length: 81883
Sequence NC_017641.1 Escherichia coli UMNK88, complete sequence length: 5186416
Sequence NC_017642.1 Escherichia coli UMNK88 plasmid pUMNK88_91, complete sequence length: 90868
Sequence NC_017645.1 Escherichia coli UMNK88 plasmid pUMNK88, complete sequence length: 160573
Sequence NC_007941.1 Escherichia coli UTI89 plasmid pUTI89, complete sequence length: 114230
Sequence NC_007946.1 Escherichia coli UTI89, complete sequence length: 5065741
Sequence NC_017635.1 Escherichia coli W, complete sequence length: 4900968
Sequence NC_017637.1 Escherichia coli W plasmid pRK1, complete sequence length: 102536
Sequence NC_017664.1 Escherichia coli W, complete sequence length: 4897452
Sequence NC_017665.1 Escherichia coli W plasmid pRK1, complete sequence length: 102535
Sequence NC_017906.1 Escherichia coli Xuzhou21, complete sequence length: 5386223
Sequence NC_017907.1 Escherichia coli Xuzhou21 plasmid pO157, complete sequence length: 92728
Sequence NC_017652.1 Escherichia coli str. 'clone D i14', complete sequence length: 5038386
Sequence NC_017651.1 Escherichia coli str. 'clone D i2', complete sequence length: 5038386

,ID,Tip,AAA,AAC,AAG,AAT,ACA,ACC,ACG,ACT,...,TGA,TGC,TGG,TGT,TTA,TTC,TTG,TTT,Pocetak,Kraj
0,NC_017626,C,991,597,601,748,566,499,563,429,...,784,802,786,656,589,798,658,1009,233779.0,275861.0
1,NC_017626,C,1455,1371,807,1185,1196,1234,1191,851,...,1371,1490,1273,860,929,1201,969,1395,2272389.0,2345178.0
2,NC_017626,C,1058,555,443,988,462,301,214,424,...,511,380,278,417,762,656,517,1178,3249573.0,3277026.0
3,NC_017626,C,589,393,311,435,401,335,257,295,...,432,402,315,334,331,465,287,489,3387125.0,3408657.0
4,NC_017626,C,1577,1192,804,1389,917,1006,997,727,...,1153,1273,935,861,1173,1314,993,1894,3429556.0,3495247.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,NC_017907,R,2472,1409,1229,1547,1418,1008,1087,1012,...,1938,1587,1738,1313,1405,1321,1183,1872,NaN,NaN
755,NC_017652,K,118917,89834,68419,91041,65597,80681,78544,54796,...,91360,102999,92260,65108,74986,91200,82784,119309,0.0,5038386.0
756,NC_017652,R,108887,82463,63082,83228,59076,74385,72637,49742,...,83033,94947,85288,58964,68216,83589,76690,109253,NaN,NaN
757,NC_017651,K,118918,89834,68420,91040,65598,80682,78544,54795,...,91358,102996,92261,65108,74986,91200,82784,119309,0.0,5038386.0
758,NC_017651,R,108887,82463,63083,83227,59077,74386,72637,49741,...,83032,94944,85288,58964,68216,83589,76690,109253,NaN,NaN

In [4]:
genoms = ['NC_017626', 'NC_017627', 'NC_013364', 'NC_013365', 'NC_013366', 'NC_013361', 'NC_013369', 
          'NC_013353', 'NC_013354', 'NC_018650', 'NC_018654', 'NC_018661', 'NC_018662', 'NC_018658', 
          'NC_018659', 'NC_018666', 'NC_008253', 'NC_011748', 'NC_017631', 'NC_008563', 'NC_009837', 
          'NC_009838', 'NC_020163', 'NC_010468', 'NC_012892', 'NC_012971', 'NC_013941', 'NC_017646', 
          'NC_004431', 'NC_017625', 'NC_017638', 'NC_011601', 'NC_009786', 'NC_009788', 'NC_009790', 
          'NC_009801', 'NC_011353', 'NC_011745', 'NC_002655', 'NC_007414', 'NC_017633', 'NC_012947', 
          'NC_009800', 'NC_011741', 'NC_011750', 'NC_017628', 'NC_007779', 'NC_010473', 'NC_012759', 
          'NC_020518', 'NC_000913', 'NC_016902', 'NC_016904', 'NC_017660', 'NC_011993', 'NC_022364', 
          'NC_017644', 'NC_017634', 'NC_017659', 'NC_017663', 'NC_022370', 'NC_012967', 'NC_017656', 
          'NC_017657', 'NC_011742', 'NC_011747', 'NC_011415', 'NC_011419', 'NC_013654', 'NC_013655', 
          'NC_010488', 'NC_010498', 'NC_002128', 'NC_002695', 'NC_013008', 'NC_013010', 'NC_017630', 
          'NC_017632', 'NC_011739', 'NC_011749', 'NC_011751', 'NC_017639', 'NC_017641', 'NC_017642', 
          'NC_017645', 'NC_007941', 'NC_007946', 'NC_017635', 'NC_017637', 'NC_017664', 'NC_017665', 
          'NC_017906', 'NC_017907', 'NC_017652', 'NC_017651']

# Velicina kompletnih sekvenci bez pai ostrva

In [5]:
for index, row in konacna_tabela.iterrows():
    if row["Tip"] == "R":
        all = konacna_tabela[konacna_tabela["ID"] == row["ID"]]
        complete = all[all["Tip"] == "K"]
        complete_size = complete["Kraj"]
        other = all[all["Tip"] != "K"]
        pai_size = 0
        for i,r in other.iterrows():
            if r["Tip"] != "R":
                pai_size += r["Kraj"] - r["Pocetak"]
        konacna_tabela.at[index,"Pocetak"] = 0
        konacna_tabela.at[index,"Kraj"] = complete_size - pai_size

konacna_tabela

C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\2609271771.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  konacna_tabela.at[index,"Kraj"] = complete_size - pai_size

,ID,Tip,AAA,AAC,AAG,AAT,ACA,ACC,ACG,ACT,...,TGA,TGC,TGG,TGT,TTA,TTC,TTG,TTT,Pocetak,Kraj
0,NC_017626,C,991,597,601,748,566,499,563,429,...,784,802,786,656,589,798,658,1009,233779.0,275861.0
1,NC_017626,C,1455,1371,807,1185,1196,1234,1191,851,...,1371,1490,1273,860,929,1201,969,1395,2272389.0,2345178.0
2,NC_017626,C,1058,555,443,988,462,301,214,424,...,511,380,278,417,762,656,517,1178,3249573.0,3277026.0
3,NC_017626,C,589,393,311,435,401,335,257,295,...,432,402,315,334,331,465,287,489,3387125.0,3408657.0
4,NC_017626,C,1577,1192,804,1389,917,1006,997,727,...,1153,1273,935,861,1173,1314,993,1894,3429556.0,3495247.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,NC_017907,R,2472,1409,1229,1547,1418,1008,1087,1012,...,1938,1587,1738,1313,1405,1321,1183,1872,0.0,83854.0
755,NC_017652,K,118917,89834,68419,91041,65597,80681,78544,54796,...,91360,102999,92260,65108,74986,91200,82784,119309,0.0,5038386.0
756,NC_017652,R,108887,82463,63082,83228,59076,74385,72637,49742,...,83033,94947,85288,58964,68216,83589,76690,109253,0.0,4621056.0
757,NC_017651,K,118918,89834,68420,91040,65598,80682,78544,54795,...,91358,102996,92261,65108,74986,91200,82784,119309,0.0,5038386.0
758,NC_017651,R,108887,82463,63083,83227,59077,74386,72637,49741,...,83032,94944,85288,58964,68216,83589,76690,109253,0.0,4621056.0

In [6]:
konacna_tabela["Velicina"] = 0
for index, row in konacna_tabela.iterrows():
    konacna_tabela.at[index,"Velicina"] = row["Kraj"] - row["Pocetak"]

konacna_tabela

,ID,Tip,AAA,AAC,AAG,AAT,ACA,ACC,ACG,ACT,...,TGC,TGG,TGT,TTA,TTC,TTG,TTT,Pocetak,Kraj,Velicina
0,NC_017626,C,991,597,601,748,566,499,563,429,...,802,786,656,589,798,658,1009,233779.0,275861.0,42082
1,NC_017626,C,1455,1371,807,1185,1196,1234,1191,851,...,1490,1273,860,929,1201,969,1395,2272389.0,2345178.0,72789
2,NC_017626,C,1058,555,443,988,462,301,214,424,...,380,278,417,762,656,517,1178,3249573.0,3277026.0,27453
3,NC_017626,C,589,393,311,435,401,335,257,295,...,402,315,334,331,465,287,489,3387125.0,3408657.0,21532
4,NC_017626,C,1577,1192,804,1389,917,1006,997,727,...,1273,935,861,1173,1314,993,1894,3429556.0,3495247.0,65691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,NC_017907,R,2472,1409,1229,1547,1418,1008,1087,1012,...,1587,1738,1313,1405,1321,1183,1872,0.0,83854.0,83854
755,NC_017652,K,118917,89834,68419,91041,65597,80681,78544,54796,...,102999,92260,65108,74986,91200,82784,119309,0.0,5038386.0,5038386
756,NC_017652,R,108887,82463,63082,83228,59076,74385,72637,49742,...,94947,85288,58964,68216,83589,76690,109253,0.0,4621056.0,4621056
757,NC_017651,K,118918,89834,68420,91040,65598,80682,78544,54795,...,102996,92261,65108,74986,91200,82784,119309,0.0,5038386.0,5038386
758,NC_017651,R,108887,82463,63083,83227,59077,74386,72637,49741,...,94944,85288,58964,68216,83589,76690,109253,0.0,4621056.0,4621056

In [7]:
from itertools import product
nucleotides = ['A', 'C', 'G', 'T']
combinations_of_3 = list(product(nucleotides, repeat=3))
kolone = [''.join(combination) for combination in combinations_of_3]

# Normalizacija

In [8]:
for index, row in konacna_tabela.iterrows():
    for kolona in kolone:
         konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]

konacna_tabela

C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.023549260966684093' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.014186588089919681' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.014281640606435055' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.017774820588375078' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.013449931086925526' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.011857801435292999' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.013378641699538995' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.01019438239627394' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.014804429447269616' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.018416425074853856' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.014139061831661992' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.012428116534385247' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.01527969202984649' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.01727579487666936' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.016301506582386768' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.01829760942920964' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.01283208972957559' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.012641984696544841' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.028016729242906706' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.016016349032840646' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.017632241813602016' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.009505251651537474' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.017822346846632763' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.011121144432298846' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.011239960077943064' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.019961028468228698' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.02160068437811891' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.013901430540373556' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.004158547597547645' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.008483437098997196' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.024404733615322464' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.011834038306164156' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.01836889881659617' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.011643933273133407' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.011976617080937217' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.01855900384962692' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.020412527921676728' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.018891687657430732' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.023169050900622594' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.015873770258067584' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.021054132408155506' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.012285537759612187' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.017489663038828953' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.012333064017869873' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.012998431633477496' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.015612375837650301' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.018463951333111545' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.015042060738558053' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.010408250558433535' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.005513045957891735' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.018012451879663514' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  konacna_tabela.loc[index, kolona] =  konacna_tabela.loc[index, kolona] / row["Velicina"]
C:\Users\mihai\AppData\Local\Temp\ipykernel_20700\3202503295.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.015826243999809895' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

,ID,Tip,AAA,AAC,AAG,AAT,ACA,ACC,ACG,ACT,...,TGC,TGG,TGT,TTA,TTC,TTG,TTT,Pocetak,Kraj,Velicina
0,NC_017626,C,0.023549,0.014187,0.014282,0.017775,0.013450,0.011858,0.013379,0.010194,...,0.019058,0.018678,0.015589,0.013996,0.018963,0.015636,0.023977,233779.0,275861.0,42082
1,NC_017626,C,0.019989,0.018835,0.011087,0.016280,0.016431,0.016953,0.016362,0.011691,...,0.020470,0.017489,0.011815,0.012763,0.016500,0.013312,0.019165,2272389.0,2345178.0,72789
2,NC_017626,C,0.038539,0.020216,0.016137,0.035989,0.016829,0.010964,0.007795,0.015445,...,0.013842,0.010126,0.015190,0.027757,0.023895,0.018832,0.042910,3249573.0,3277026.0,27453
3,NC_017626,C,0.027355,0.018252,0.014444,0.020202,0.018623,0.015558,0.011936,0.013701,...,0.018670,0.014629,0.015512,0.015372,0.021596,0.013329,0.022710,3387125.0,3408657.0,21532
4,NC_017626,C,0.024006,0.018146,0.012239,0.021144,0.013959,0.015314,0.015177,0.011067,...,0.019379,0.014233,0.013107,0.017856,0.020003,0.015116,0.028832,3429556.0,3495247.0,65691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,NC_017907,R,0.029480,0.016803,0.014656,0.018449,0.016910,0.012021,0.012963,0.012069,...,0.018926,0.020727,0.015658,0.016755,0.015754,0.014108,0.022325,0.0,83854.0,83854
755,NC_017652,K,0.023602,0.017830,0.013580,0.018069,0.013019,0.016013,0.015589,0.010876,...,0.020443,0.018311,0.012922,0.014883,0.018101,0.016431,0.023680,0.0,5038386.0,5038386
756,NC_017652,R,0.023563,0.017845,0.013651,0.018011,0.012784,0.016097,0.015719,0.010764,...,0.020547,0.018456,0.012760,0.014762,0.018089,0.016596,0.023642,0.0,4621056.0,4621056
757,NC_017651,K,0.023602,0.017830,0.013580,0.018069,0.013020,0.016013,0.015589,0.010876,...,0.020442,0.018312,0.012922,0.014883,0.018101,0.016431,0.023680,0.0,5038386.0,5038386
758,NC_017651,R,0.023563,0.017845,0.013651,0.018010,0.012784,0.016097,0.015719,0.010764,...,0.020546,0.018456,0.012760,0.014762,0.018089,0.016596,0.023642,0.0,4621056.0,4621056

In [9]:
konacna_tabela.to_csv("konacna_tabela_normalizovana.csv", index=False)

In [1]:
#